<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.yahoo.alioth865.redegalfinal" >

    <uses-permission android:name="android.permission.INTERNET" />

    <!--
     To retrieve OAuth 2.0 tokens or invalidate tokens to disconnect a user. This disconnect
     option is required to comply with the Google+ Sign-In developer policies
    -->
    <uses-permission android:name="android.permission.USE_CREDENTIALS" /> <!-- To retrieve the account name (email) as part of sign-in: -->
    <uses-permission android:name="android.permission.GET_ACCOUNTS" /> <!-- To auto-complete the email text field in the login form with the user's emails -->
    <uses-permission android:name="android.permission.READ_PROFILE" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".Vistas.Registro"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

        <activity
            android:name=".Vistas.Principal"
            android:label="@string/title_activity_principal" >
        </activity>
        <activity
            android:name=".Vistas.Categorias"
            android:label="@string/title_activity_categorias" >
        </activity>
        <activity
            android:name=".Vistas.Productos"
            android:label="@string/title_activity_productos" >
        </activity>
        <activity
            android:name=".Vistas.VistaProductoEspecifico"
            android:label="@string/title_activity_producto_especifico" >
        </activity>
        <activity
            android:name=".Vistas.Clientes"
            android:label="@string/title_activity_clientes" >
        </activity>
        <activity
            android:name=".VistaClienteEspecifico"
            android:label="@string/title_activity_vista_cliente_especifico" >
        </activity>
        <activity
            android:name=".Vistas.Pedido"
            android:label="@string/title_activity_pedido" >
        </activity>
        <activity
            android:name=".Vistas.RealizarPedido"
            android:label="@string/title_activity_realizar_pedido" >
        </activity>
    </application>

</manifest>
